extends ../layouts/default

block content
    h1 Greatly done!


    if demoData != null
        div.d-flex.align-items-center So you were about to ask question like
            div(class="alert alert-success m-0") #{demoData.question}
            span this fellas:
            div(class="alert alert-success m-0")= demoData.emails
            span about this guy:
            div(class="alert alert-success m-0") #{demoData.object}

        if isAuthenticated != null
            p Great work! Let's go further!
        else
            i Wanna make it happen?&nbsp;
            a(href='/auth/login') Login now &nbsp;
            span and start your anonymous polls!
    else
        p.alert-warning Time expired!
        a(href='/') Let's go home!


