extends ../layouts/default

block content
    h1 #{title}
    h2 #{body}
    div
        p Start with&nbsp;
            a(href="/login") login&nbsp;
            span or try&nbsp;
            a(href="/demo") demo run