extends ../layouts/default

block content
    h1 #{title}
    h2 #{body}
    div
        if isAuthenticated != null
            p Great, you are logged in!
        else
            p Start with&nbsp;
                a(href="/auth/google") login&nbsp;
                span or try&nbsp;
                a(href="/demo") demo run